* {
    user-select: none;
}

h1 {
    font-size: 2rem;
}

.container {
    max-width: 60rem;
}

#schedule {
    text-align: center;
    margin-bottom: 5vh;
    transform: translateX(-6%);
}

#classes {
    text-align: center;
    position: relative;
    margin-bottom: 5vh;
    transform: translateX(-6%);
}

@keyframes glow-green {
    0% {
        box-shadow: 0 0 0 0 #169b18;
    }
    25% {
        box-shadow: 0 0 5px 5px #169b18;
    }
    75% {
        box-shadow: 0 0 5px 5px #169b18;
    }
    100% {
        box-shadow: 0 0 0 0 #169b18;
    }
}

@keyframes glow-red {
    0% {
        box-shadow: 0 0 0 0 #c93025;
    }
    17% {
        transform: translate(-4%);
    }
    25% {
        box-shadow: 0 0 5px 5px #c93025;
        transform: translate(4%);
    }
    50% {
        transform: translate(-2%);
    }
    75% {
        box-shadow: 0 0 5px 5px #c93025;
        transform: translate(2%);
    }
    83% {
        transform: translate(-1%);
    }
    100% {
        box-shadow: 0 0 0 0 #c93025;
        transform: translate(0%);
    }
}

.glowGreen {
    animation-name: glow-green;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.glowRed {
    animation-name: glow-red;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.schoolPeriod {
    position: relative;
}

.classCard {
    outline: 1px solid rgb(138, 173, 201);
    background-color: #c6d9e2;
    line-height: 90%;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    min-width: 18rem;
}

#schedule .row {
    height: 5vh;
    min-height: 2rem;
    display: flex;
    align-items: center;
}

#schedule .row:nth-child(odd) {
    background-color: #ebf4f7;
}

#schedule .row:first-child {
    background-color: unset;
}

#schedule .row:nth-child(odd) .time {
    background-color: #ffffff;
}

.col-2 {
    font-size: clamp(0.7rem, 2vw, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    min-height: 2rem;
}

.time {
    justify-content: end;
    height: 5vh;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 0 1rem;
}
